<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Animal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
</head>
<body>
    <h2>Edit the information about the animal:</h2>
    <form action="/animals/<%= animal._id %>/update" method="post">
        Name: <input type="text" name="name" value="<%= animal.name %>"><br><br>
        Species: <input type="text" name="species" value="<%= animal.species %>"><br><br>
        Age: <input type="text" name="age" value="<%= animal.age %>"><br><br>
        <input type="submit" value="Submit"> <br><br>
    </form>
    <button><a href="/">All animals</a></button>

</body>
</html>