<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add a new animal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
</head>
<body>
    <h2>Add an animal:</h2>
    <form action="/animals" method="post">
        Name: <input type="text" name="name"><br><br>
        Species: <input type="text" name="species"><br><br>
        Age: <input type="text" name="age"><br><br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <button><a href="/">All animals</a></button> 
</body>
</html>